In [59]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import accuracy_score, confusion_matrix,roc_curve, roc_auc_score
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/wri/global-power-plant-database/master/source_databases_csv/database_IND.csv')

In [3]:
df

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,generation_gwh_2019,generation_data_source,estimated_generation_gwh
0,IND,India,ACME Solar Tower,WRI1020239,2.5,28.1839,73.2407,Solar,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IND,India,ADITYA CEMENT WORKS,WRI1019881,98.0,24.7663,74.6090,Coal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IND,India,AES Saurashtra Windfarms,WRI1026669,39.2,21.9038,69.3732,Wind,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IND,India,AGARTALA GT,IND0000001,135.0,23.8712,91.3602,Gas,NaN,NaN,...,2019.0,NaN,617.789264,843.747000,886.004428,663.774500,626.239128,NaN,Central Electricity Authority,NaN
4,IND,India,AKALTARA TPP,IND0000002,1800.0,21.9603,82.4091,Coal,Oil,NaN,...,2019.0,NaN,3035.550000,5916.370000,6243.000000,5385.579736,7279.000000,NaN,Central Electricity Authority,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,IND,India,YERMARUS TPP,IND0000513,1600.0,16.2949,77.3568,Coal,Oil,NaN,...,2019.0,NaN,NaN,0.994875,233.596650,865.400000,686.500000,NaN,Central Electricity Authority,NaN
903,IND,India,Yelesandra Solar Power Plant,WRI1026222,3.0,12.8932,78.1654,Solar,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,IND,India,Yelisirur wind power project,WRI1026776,25.5,15.2758,75.5811,Wind,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
905,IND,India,ZAWAR MINES,WRI1019901,80.0,24.3500,73.7477,Coal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
906,IND,India,iEnergy Theni Wind Farm,WRI1026761,16.5,9.9344,77.4768,Wind,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,capacity_mw,latitude,longitude,other_fuel3,commissioning_year,wepp_id,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,generation_gwh_2019,estimated_generation_gwh
count,907.000000,861.000000,861.000000,0.0,527.000000,0.0,519.0,0.0,398.000000,422.000000,434.000000,440.000000,448.000000,0.0,0.0
mean,326.223755,21.197918,77.464907,NaN,1997.091082,NaN,2019.0,NaN,2431.823590,2428.226946,2467.936859,2547.759305,2600.804099,NaN,NaN
std,590.085456,6.239612,4.939316,NaN,17.082868,NaN,0.0,NaN,4026.440035,4194.596959,4162.884308,4196.991169,4314.880456,NaN,NaN
min,0.000000,8.168900,68.644700,NaN,1927.000000,NaN,2019.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,16.725000,16.773900,74.256200,NaN,1988.000000,NaN,2019.0,NaN,223.557672,176.381063,188.285252,177.874930,193.378250,NaN,NaN
50%,59.200000,21.780000,76.719500,NaN,2001.000000,NaN,2019.0,NaN,801.123775,711.181225,737.205450,817.977250,751.644375,NaN,NaN
75%,385.250000,25.512400,79.440800,NaN,2012.000000,NaN,2019.0,NaN,3035.306250,3084.121250,3282.861313,3275.690475,3143.535900,NaN,NaN
max,4760.000000,34.649000,95.408000,NaN,2018.000000,NaN,2019.0,NaN,28127.000000,30539.000000,30015.000000,35116.000000,35136.000000,NaN,NaN

In [7]:
df.drop(columns=['other_fuel3','wepp_id','generation_gwh_2013','generation_gwh_2019','estimated_generation_gwh'],inplace=True)

In [8]:
df

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,source,url,geolocation_source,year_of_capacity_data,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,generation_data_source
0,IND,India,ACME Solar Tower,WRI1020239,2.5,28.1839,73.2407,Solar,NaN,NaN,...,National Renewable Energy Laboratory,http://www.nrel.gov/csp/solarpaces/project_det...,National Renewable Energy Laboratory,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IND,India,ADITYA CEMENT WORKS,WRI1019881,98.0,24.7663,74.6090,Coal,NaN,NaN,...,Ultratech Cement ltd,http://www.ultratechcement.com/,WRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IND,India,AES Saurashtra Windfarms,WRI1026669,39.2,21.9038,69.3732,Wind,NaN,NaN,...,CDM,https://cdm.unfccc.int/Projects/DB/DNV-CUK1328...,WRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IND,India,AGARTALA GT,IND0000001,135.0,23.8712,91.3602,Gas,NaN,NaN,...,Central Electricity Authority,http://www.cea.nic.in/,WRI,2019.0,617.789264,843.747000,886.004428,663.774500,626.239128,Central Electricity Authority
4,IND,India,AKALTARA TPP,IND0000002,1800.0,21.9603,82.4091,Coal,Oil,NaN,...,Central Electricity Authority,http://www.cea.nic.in/,WRI,2019.0,3035.550000,5916.370000,6243.000000,5385.579736,7279.000000,Central Electricity Authority
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,IND,India,YERMARUS TPP,IND0000513,1600.0,16.2949,77.3568,Coal,Oil,NaN,...,Central Electricity Authority,http://www.cea.nic.in/,WRI,2019.0,NaN,0.994875,233.596650,865.400000,686.500000,Central Electricity Authority
903,IND,India,Yelesandra Solar Power Plant,WRI1026222,3.0,12.8932,78.1654,Solar,NaN,NaN,...,Karnataka Power Corporation Limited,http://karnatakapower.com,Industry About,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,IND,India,Yelisirur wind power project,WRI1026776,25.5,15.2758,75.5811,Wind,NaN,NaN,...,CDM,https://cdm.unfccc.int/Projects/DB/TUEV-RHEIN1...,WRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
905,IND,India,ZAWAR MINES,WRI1019901,80.0,24.3500,73.7477,Coal,NaN,NaN,...,Hindustan Zinc ltd,http://www.hzlindia.com/,WRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
906,IND,India,iEnergy Theni Wind Farm,WRI1026761,16.5,9.9344,77.4768,Wind,NaN,NaN,...,CDM,https://cdm.unfccc.int/Projects/DB/RWTUV134503...,WRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.describe()

,capacity_mw,latitude,longitude,commissioning_year,year_of_capacity_data,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018
count,907.000000,861.000000,861.000000,527.000000,519.0,398.000000,422.000000,434.000000,440.000000,448.000000
mean,326.223755,21.197918,77.464907,1997.091082,2019.0,2431.823590,2428.226946,2467.936859,2547.759305,2600.804099
std,590.085456,6.239612,4.939316,17.082868,0.0,4026.440035,4194.596959,4162.884308,4196.991169,4314.880456
min,0.000000,8.168900,68.644700,1927.000000,2019.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16.725000,16.773900,74.256200,1988.000000,2019.0,223.557672,176.381063,188.285252,177.874930,193.378250
50%,59.200000,21.780000,76.719500,2001.000000,2019.0,801.123775,711.181225,737.205450,817.977250,751.644375
75%,385.250000,25.512400,79.440800,2012.000000,2019.0,3035.306250,3084.121250,3282.861313,3275.690475,3143.535900
max,4760.000000,34.649000,95.408000,2018.000000,2019.0,28127.000000,30539.000000,30015.000000,35116.000000,35136.000000

In [10]:
df.isnull().sum()

country                     0
country_long                0
name                        0
gppd_idnr                   0
capacity_mw                 0
latitude                   46
longitude                  46
primary_fuel                0
other_fuel1               709
other_fuel2               906
commissioning_year        380
owner                     565
source                      0
url                         0
geolocation_source         19
year_of_capacity_data     388
generation_gwh_2014       509
generation_gwh_2015       485
generation_gwh_2016       473
generation_gwh_2017       467
generation_gwh_2018       459
generation_data_source    458
dtype: int64

Now, I think we have to remove those columns which has null value which are above 200 null values.

In [11]:
df.drop(columns=['other_fuel1','other_fuel2','owner','year_of_capacity_data','generation_gwh_2014','generation_gwh_2015','generation_gwh_2016','generation_gwh_2017','generation_gwh_2018','generation_data_source','commissioning_year'])

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,source,url,geolocation_source
0,IND,India,ACME Solar Tower,WRI1020239,2.5,28.1839,73.2407,Solar,National Renewable Energy Laboratory,http://www.nrel.gov/csp/solarpaces/project_det...,National Renewable Energy Laboratory
1,IND,India,ADITYA CEMENT WORKS,WRI1019881,98.0,24.7663,74.6090,Coal,Ultratech Cement ltd,http://www.ultratechcement.com/,WRI
2,IND,India,AES Saurashtra Windfarms,WRI1026669,39.2,21.9038,69.3732,Wind,CDM,https://cdm.unfccc.int/Projects/DB/DNV-CUK1328...,WRI
3,IND,India,AGARTALA GT,IND0000001,135.0,23.8712,91.3602,Gas,Central Electricity Authority,http://www.cea.nic.in/,WRI
4,IND,India,AKALTARA TPP,IND0000002,1800.0,21.9603,82.4091,Coal,Central Electricity Authority,http://www.cea.nic.in/,WRI
...,...,...,...,...,...,...,...,...,...,...,...
902,IND,India,YERMARUS TPP,IND0000513,1600.0,16.2949,77.3568,Coal,Central Electricity Authority,http://www.cea.nic.in/,WRI
903,IND,India,Yelesandra Solar Power Plant,WRI1026222,3.0,12.8932,78.1654,Solar,Karnataka Power Corporation Limited,http://karnatakapower.com,Industry About
904,IND,India,Yelisirur wind power project,WRI1026776,25.5,15.2758,75.5811,Wind,CDM,https://cdm.unfccc.int/Projects/DB/TUEV-RHEIN1...,WRI
905,IND,India,ZAWAR MINES,WRI1019901,80.0,24.3500,73.7477,Coal,Hindustan Zinc ltd,http://www.hzlindia.com/,WRI
906,IND,India,iEnergy Theni Wind Farm,WRI1026761,16.5,9.9344,77.4768,Wind,CDM,https://cdm.unfccc.int/Projects/DB/RWTUV134503...,WRI

There is no use of url in this.So, let's do something

In [12]:
df.drop(columns=['url'])

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,owner,source,geolocation_source,year_of_capacity_data,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,generation_data_source
0,IND,India,ACME Solar Tower,WRI1020239,2.5,28.1839,73.2407,Solar,NaN,NaN,...,Solar Paces,National Renewable Energy Laboratory,National Renewable Energy Laboratory,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IND,India,ADITYA CEMENT WORKS,WRI1019881,98.0,24.7663,74.6090,Coal,NaN,NaN,...,Ultratech Cement ltd,Ultratech Cement ltd,WRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IND,India,AES Saurashtra Windfarms,WRI1026669,39.2,21.9038,69.3732,Wind,NaN,NaN,...,AES,CDM,WRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IND,India,AGARTALA GT,IND0000001,135.0,23.8712,91.3602,Gas,NaN,NaN,...,NaN,Central Electricity Authority,WRI,2019.0,617.789264,843.747000,886.004428,663.774500,626.239128,Central Electricity Authority
4,IND,India,AKALTARA TPP,IND0000002,1800.0,21.9603,82.4091,Coal,Oil,NaN,...,NaN,Central Electricity Authority,WRI,2019.0,3035.550000,5916.370000,6243.000000,5385.579736,7279.000000,Central Electricity Authority
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,IND,India,YERMARUS TPP,IND0000513,1600.0,16.2949,77.3568,Coal,Oil,NaN,...,NaN,Central Electricity Authority,WRI,2019.0,NaN,0.994875,233.596650,865.400000,686.500000,Central Electricity Authority
903,IND,India,Yelesandra Solar Power Plant,WRI1026222,3.0,12.8932,78.1654,Solar,NaN,NaN,...,Karnataka Power Corporation Limited,Karnataka Power Corporation Limited,Industry About,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,IND,India,Yelisirur wind power project,WRI1026776,25.5,15.2758,75.5811,Wind,NaN,NaN,...,NaN,CDM,WRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
905,IND,India,ZAWAR MINES,WRI1019901,80.0,24.3500,73.7477,Coal,NaN,NaN,...,Hindustan Zinc ltd,Hindustan Zinc ltd,WRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
906,IND,India,iEnergy Theni Wind Farm,WRI1026761,16.5,9.9344,77.4768,Wind,NaN,NaN,...,iEnergy Wind Farms,CDM,WRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.drop(columns=['other_fuel1','other_fuel2','owner','year_of_capacity_data','generation_gwh_2014','generation_gwh_2015','generation_gwh_2016','generation_gwh_2017','generation_gwh_2018','generation_data_source','commissioning_year','url'],inplace=True)

In [14]:
df

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,source,geolocation_source
0,IND,India,ACME Solar Tower,WRI1020239,2.5,28.1839,73.2407,Solar,National Renewable Energy Laboratory,National Renewable Energy Laboratory
1,IND,India,ADITYA CEMENT WORKS,WRI1019881,98.0,24.7663,74.6090,Coal,Ultratech Cement ltd,WRI
2,IND,India,AES Saurashtra Windfarms,WRI1026669,39.2,21.9038,69.3732,Wind,CDM,WRI
3,IND,India,AGARTALA GT,IND0000001,135.0,23.8712,91.3602,Gas,Central Electricity Authority,WRI
4,IND,India,AKALTARA TPP,IND0000002,1800.0,21.9603,82.4091,Coal,Central Electricity Authority,WRI
...,...,...,...,...,...,...,...,...,...,...
902,IND,India,YERMARUS TPP,IND0000513,1600.0,16.2949,77.3568,Coal,Central Electricity Authority,WRI
903,IND,India,Yelesandra Solar Power Plant,WRI1026222,3.0,12.8932,78.1654,Solar,Karnataka Power Corporation Limited,Industry About
904,IND,India,Yelisirur wind power project,WRI1026776,25.5,15.2758,75.5811,Wind,CDM,WRI
905,IND,India,ZAWAR MINES,WRI1019901,80.0,24.3500,73.7477,Coal,Hindustan Zinc ltd,WRI
906,IND,India,iEnergy Theni Wind Farm,WRI1026761,16.5,9.9344,77.4768,Wind,CDM,WRI

In [15]:
df['country'].value_counts()

IND    907
Name: country, dtype: int64

In [16]:
df['country_long'].value_counts()

India    907
Name: country_long, dtype: int64

when both have same type of data then why can't we remove it.Let's remove it.

In [17]:
df.drop(columns=['country'],inplace=True)

In [18]:
df

,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,source,geolocation_source
0,India,ACME Solar Tower,WRI1020239,2.5,28.1839,73.2407,Solar,National Renewable Energy Laboratory,National Renewable Energy Laboratory
1,India,ADITYA CEMENT WORKS,WRI1019881,98.0,24.7663,74.6090,Coal,Ultratech Cement ltd,WRI
2,India,AES Saurashtra Windfarms,WRI1026669,39.2,21.9038,69.3732,Wind,CDM,WRI
3,India,AGARTALA GT,IND0000001,135.0,23.8712,91.3602,Gas,Central Electricity Authority,WRI
4,India,AKALTARA TPP,IND0000002,1800.0,21.9603,82.4091,Coal,Central Electricity Authority,WRI
...,...,...,...,...,...,...,...,...,...
902,India,YERMARUS TPP,IND0000513,1600.0,16.2949,77.3568,Coal,Central Electricity Authority,WRI
903,India,Yelesandra Solar Power Plant,WRI1026222,3.0,12.8932,78.1654,Solar,Karnataka Power Corporation Limited,Industry About
904,India,Yelisirur wind power project,WRI1026776,25.5,15.2758,75.5811,Wind,CDM,WRI
905,India,ZAWAR MINES,WRI1019901,80.0,24.3500,73.7477,Coal,Hindustan Zinc ltd,WRI
906,India,iEnergy Theni Wind Farm,WRI1026761,16.5,9.9344,77.4768,Wind,CDM,WRI

In [19]:
df.isnull().sum()

country_long           0
name                   0
gppd_idnr              0
capacity_mw            0
latitude              46
longitude             46
primary_fuel           0
source                 0
geolocation_source    19
dtype: int64

In [20]:
df['latitude']=df['latitude'].fillna(df['latitude'].mean())

In [21]:
df['longitude']=df['longitude'].fillna(df['longitude'].mean())

In [26]:
df['geolocation_source']=df['geolocation_source'].fillna(df['geolocation_source'].mode())

In [27]:
df.isnull().sum()

country_long           0
name                   0
gppd_idnr              0
capacity_mw            0
latitude               0
longitude              0
primary_fuel           0
source                 0
geolocation_source    19
dtype: int64

In [28]:
df['geolocation_source'].value_counts()

WRI                                     765
Industry About                          119
National Renewable Energy Laboratory      4
Name: geolocation_source, dtype: int64

In [31]:
df['geolocation_source']=df['geolocation_source'].fillna(df['geolocation_source'].mode())

In [32]:
df.isnull().sum()

country_long           0
name                   0
gppd_idnr              0
capacity_mw            0
latitude               0
longitude              0
primary_fuel           0
source                 0
geolocation_source    19
dtype: int64

In [33]:
df.dropna(subset=['geolocation_source'],inplace=True)

In [34]:
df.isnull().sum()

country_long          0
name                  0
gppd_idnr             0
capacity_mw           0
latitude              0
longitude             0
primary_fuel          0
source                0
geolocation_source    0
dtype: int64

In [35]:
df

,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,source,geolocation_source
0,India,ACME Solar Tower,WRI1020239,2.5,28.1839,73.2407,Solar,National Renewable Energy Laboratory,National Renewable Energy Laboratory
1,India,ADITYA CEMENT WORKS,WRI1019881,98.0,24.7663,74.6090,Coal,Ultratech Cement ltd,WRI
2,India,AES Saurashtra Windfarms,WRI1026669,39.2,21.9038,69.3732,Wind,CDM,WRI
3,India,AGARTALA GT,IND0000001,135.0,23.8712,91.3602,Gas,Central Electricity Authority,WRI
4,India,AKALTARA TPP,IND0000002,1800.0,21.9603,82.4091,Coal,Central Electricity Authority,WRI
...,...,...,...,...,...,...,...,...,...
902,India,YERMARUS TPP,IND0000513,1600.0,16.2949,77.3568,Coal,Central Electricity Authority,WRI
903,India,Yelesandra Solar Power Plant,WRI1026222,3.0,12.8932,78.1654,Solar,Karnataka Power Corporation Limited,Industry About
904,India,Yelisirur wind power project,WRI1026776,25.5,15.2758,75.5811,Wind,CDM,WRI
905,India,ZAWAR MINES,WRI1019901,80.0,24.3500,73.7477,Coal,Hindustan Zinc ltd,WRI
906,India,iEnergy Theni Wind Farm,WRI1026761,16.5,9.9344,77.4768,Wind,CDM,WRI

In [41]:
from sklearn.preprocessing import LabelEncoder

In [42]:
le=LabelEncoder()

In [43]:
df['country_long']=le.fit_transform(df['country_long'])

In [44]:
df.drop(columns=['name'],inplace=True)

In [45]:
df.drop(columns=['gppd_idnr'],inplace=True)

In [46]:
df['source'].value_counts()

Central Electricity Authority                                  519
CDM                                                            109
Lancosola                                                       10
National Thermal Power Corporation (NTPC)                        6
National Renewable Energy Laboratory                             4
                                                              ...
Harsha Engineers Limited                                         1
Godawari Energy ltd                                              1
Sunkon Energy Private Limited                                    1
West Bengal Energy Development Corporation Limited (WBEDCL)      1
Yashwantrao Krishna ssk                                          1
Name: source, Length: 191, dtype: int64

In [47]:
df['primary_fuel']=le.fit_transform(df['primary_fuel'])

In [48]:
df['geolocation_source']=le.fit_transform(df['geolocation_source'])

In [49]:
df

,country_long,capacity_mw,latitude,longitude,primary_fuel,source,geolocation_source
0,0,2.5,28.1839,73.2407,6,National Renewable Energy Laboratory,1
1,0,98.0,24.7663,74.6090,1,Ultratech Cement ltd,2
2,0,39.2,21.9038,69.3732,7,CDM,2
3,0,135.0,23.8712,91.3602,2,Central Electricity Authority,2
4,0,1800.0,21.9603,82.4091,1,Central Electricity Authority,2
...,...,...,...,...,...,...,...
902,0,1600.0,16.2949,77.3568,1,Central Electricity Authority,2
903,0,3.0,12.8932,78.1654,6,Karnataka Power Corporation Limited,0
904,0,25.5,15.2758,75.5811,7,CDM,2
905,0,80.0,24.3500,73.7477,1,Hindustan Zinc ltd,2
906,0,16.5,9.9344,77.4768,7,CDM,2

In [50]:
df['source']=le.fit_transform(df['source'])

In [51]:
df

,country_long,capacity_mw,latitude,longitude,primary_fuel,source,geolocation_source
0,0,2.5,28.1839,73.2407,6,109,1
1,0,98.0,24.7663,74.6090,1,174,2
2,0,39.2,21.9038,69.3732,7,21,2
3,0,135.0,23.8712,91.3602,2,22,2
4,0,1800.0,21.9603,82.4091,1,22,2
...,...,...,...,...,...,...,...
902,0,1600.0,16.2949,77.3568,1,22,2
903,0,3.0,12.8932,78.1654,6,77,0
904,0,25.5,15.2758,75.5811,7,21,2
905,0,80.0,24.3500,73.7477,1,59,2
906,0,16.5,9.9344,77.4768,7,21,2

In [52]:
xr=df.drop(columns=['capacity_mw'])
yr=df['capacity_mw']

In [53]:
xc=df.drop(columns=['primary_fuel'])
yc=df['primary_fuel']

In [54]:
scaler=StandardScaler()
xr_scaled=scaler.fit_transform(xr)

In [55]:
xc_scaled=scaler.fit_transform(xc)

In [57]:
xr_train,xr_test,yr_train,yr_test=train_test_split(xr_scaled,yr,test_size=0.25,random_state=2646)

In [58]:
xc_train,xc_test,yc_train,yc_test=train_test_split(xc_scaled,yc,test_size=0.25,random_state=464)

In [60]:
lr=LinearRegression()
lr.fit(xr_train,yr_train)

LinearRegression()

In [61]:
lr.score(xr_train,yr_train)

0.2064479047170965

In [63]:
lr.score(xr_test,yr_test)

0.19102514000171267

In [64]:
yr_pred=lr.predict(xr_test)

In [65]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [66]:
mean_absolute_error(yr_test,yr_pred)

320.5185189852249

In [67]:
mean_squared_error(yr_test,yr_pred)

211723.56433754112

In [68]:
np.sqrt(mean_squared_error(yr_test,yr_pred))

460.1342894607411

In [69]:
dt=DecisionTreeClassifier()

In [70]:
dt.fit(xc_train,yc_train)

DecisionTreeClassifier()

In [71]:
yc_pred=dt.predict(xc_test)

In [72]:
acc=accuracy_score(yc_test,yc_pred)
acc

0.7972972972972973

In [73]:
print(classification_report(yc_test,yc_pred))

              precision    recall  f1-score   support

           0       0.88      0.83      0.86        18
           1       0.75      0.69      0.72        67
           2       0.53      0.64      0.58        14
           3       0.82      0.86      0.84        69
           4       0.00      0.00      0.00         1
           5       0.14      0.17      0.15         6
           6       1.00      1.00      1.00        25
           7       1.00      1.00      1.00        22

    accuracy                           0.80       222
   macro avg       0.64      0.65      0.64       222
weighted avg       0.80      0.80      0.80       222